/* Empty. Add your own CSS if you like */

#linkfirst{
	position: absolute;
	height: 100%;
	width: 100%;
background-color: orange;
}

#linksecond{
	position: absolute;
	height: 100%;
	width: 100%;
background-color: orange;
}

#firstpagetxt{
	color: white;
	margin: 50px;
	font-size: 40px;
}

#secondpagetxt{
	color: white;
	margin: 50px;
	font-size: 40px;
}